@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

@media print {
  @page { size: A4; margin: 15mm; }
  .print-mode {
    width: 100% !important;
    max-width: none !important;
  }
}
